
/* Styling for general containers*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

html{
    height: 100vh;
}

body{
    height:100%;
    display: flex;
    flex-direction: column;
    font-size: 110%;
    background-image: url("https://stmed.net/sites/default/files/nintendo-hd-wallpapers-33447-7002083.jpg");
    background-color: #A7E3FF;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Hind Madurai', sans-serif;
}


/* Styling for top section of the page (logo, score, etc.*/

header{
    width: 100%;
    height: 20%;    
}

.header-list{
    width:100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between; 
    padding-right: 5%;  
}

.logo-container{
    display: block;
    padding: 20px;
    height: 100%;   
}

.koopa-logo{
    height: 90%;
}

.info-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-self: flex-end;
}

.info-list-container {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-self: center;
    color: rgb(129, 131, 255) ;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 1.2em; 
}


.nodata-question-number, .nodata-score{
    height: 0.8em;
    margin-left: 5px;
}

.question-number-td, .noscore-td{
    display: block;
    margin-left: 5px;
}

/* Styling for main content of the page*/
main{
    height: 80%;
    text-align: center;
    margin: auto;
}

.welcome-and-questions{
    width: 100%;   
    
}

    /*Starting page title*/
.title{
    font-size: 1.8em;
    display: block;
    height: 50%;
    margin: auto auto;
    padding: 5% 5%;
    color: rgb(255, 168, 86);
    -webkit-text-stroke: 0.7px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-family: 'Baloo', cursive;
}

    /*Rendered question page*/
.question-text{
    font-size: 1.3em;
    display: block;
    margin: auto auto;
    padding: 5% 5%;
    color: rgb(0, 39, 110);
    font-size: 1em;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    
}


h2{
    font-size: 0.8em;
    display: block;
    height: 50%;
    padding: 3% 10%;
    margin: auto auto;  
}

.renadj-one{
    padding-top: 10px;
}

        /*Small adjustment for feedback page*/

.renadj-two{
    padding-top: 20px;
    font-size: 1em;
}


    /*Form with list of answers and submit input*/

.questions-sect{
    height: 70%;
    width: 100%; 
}

form{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 80%;
    
}

.form-cont-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 5%;
}

        /*Individual answers*/

.option-cont{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    border-radius: 10px;
    border: 1px solid rgb(121, 120, 120);
    font-size: 0.8em;
    text-align: left;
    width: 100%;
    margin-bottom: 6%;    
}

.option-cont:hover{
    border: 1px solid rgb(245, 146, 33);
}


label{
    display: block;
    width: 100%;
    padding: 4px 3px 4px 7px;
}

        /*Buttons*/

.start-next-cont{
    padding-top: 15px;
    margin: auto;
}


.start-input{
    position: fixed;
    left: 50%;
    margin-left: -40px;
    bottom: 5%;
    align-self: center;
    background: url(http://aux.iconspalace.com/uploads/1442736216.png);
    background-size: cover;
    border: none;
    font-size: 0;
    height: 80px;
    width: 80px;
    animation: shake 3s;
    animation-iteration-count: infinite;
    
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


.submit-input{
    background: url(https://cdn2.iconfinder.com/data/icons/devices-79/512/Controller-512.png);
    align-self: center;
    background-size: cover;
    border: none;
    font-size: 0;
    display:block;
    margin: auto;
    height: 62px;
    width: 77px;    
    
}

.nextQ-input{
    background: url(http://icons.iconarchive.com/icons/hopstarter/button/256/Button-Next-icon.png);
    
    align-self: center;
    background-size: cover;
    border: none;
    font-size: 0;
    height: 70px;
    width: 70px;
    border-radius: 3%;   

}

.reload-input{
    background: url('img/1up6.png');
    
    margin-top: 10%;
    align-self: center;
    background-size: cover;
    border: none;
    font-size: 0;
    height: 50px;
    width: 50px;
    border-radius: 3%;
    
    
}

.start-input:hover, .submit-input:hover, .nextQ-input:hover, .reload-input:hover {
    cursor: pointer;
    animation: none;
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease; 
}

    /*Responsive*/

@media screen and (min-width: 585px){

    h1{
        padding: 1% 5%;
            
        }
        
    h2{   
        padding: 2% 10% 3%;
        
        }
      
}

@media screen and (min-width: 1000px){
    
    body{
        font-size: 140%;
    }

    

    main{
        width: 80%;
    
   }    

   .title{
       padding: 2%;
   }

   .option-cont{
    margin-bottom: 2%;
    
    }

   .question-text{
       padding-top: 1%;
   }

    h1{
    padding: 0% 5%;
        
    }
    
    h2{   
    padding: 0% 10%;
    
    }
   .renadj-one, .renadj-two, .renadj-three{
    padding-top: 0px;
    
    }

   
    .form-cont-div{
        padding-top: 0%;
    }

    form{
        height: 100%;
    }

    .nextQ-input{
        
        height: 80px;
        width: 80px;
        border-radius: 3%;
    }

    .start-next-cont{
        margin: 1.5%;
    }
    .reload-input{
        background: url('img/1up6.png');
        margin-top: 10%;
        background-size: cover;      
        height: 170px;
        width: 170px;
        position: fixed;
        left: 50%;
        right: 50%;
        margin-left: -85px;
        bottom: 5%;
    }
    

}

@media screen and (min-width: 700px){
    
    .title{
        font-size: 2.1em;
    }
    
    label{
        padding: 10px;
    }

    .info-list-container{
        font-size: 1.4em;
    }

    .option-cont{
        min-width: 400px;
        align-self: center;
    }
    
    .submit-input{
        height: 90px;
        width: 110px;
    }


}